<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="full-width divide alternate pattern-dark" id="footer">
        <div class="container">


<div class="row-fluid">
    <div class="span3">

        <a href="#/">
            <img alt="Moneyball logo" src="/static/images/logo2.png?v=12123" class="logo">
        </a>

        <div class="social-buttons">

            <a class="btn btn-flacebook btn-squared" target="_blank" href="#https://www.facebook.com/moneyball">
                <i class="ico ico-facebook ico-white"></i>
            </a>

            <a class="btn btn-twitter btn-squared" target="_blank" href="#https://twitter.com/moneyball">
                <i class="ico ico-twitter ico-white"></i>
            </a>

        </div>

    </div>
    <div class="span3">

        <h4>Moneyball</h4>

        <ul>
            <li><a href="#/about/">About Us</a></li>
            <li><a href="#/contact/">Contact Us</a></li>
            <li><a href="#/press/">Press</a></li>

            <li><a href="#/team/">Team</a></li>
            <li><a href="#/jobs/">Jobs</a></li>

            <li><a href="#/terms/">Terms of Use</a></li>
            <li><a href="#/privacy/">Privacy Policy</a></li>

        </ul>

    </div>
    <div class="span3">
        <h4>More</h4>

        <ul>
            <li><a href="#/blog/">Blog</a></li>
            <li><a href="#/dictionaries/english/">Dictionaries</a></li>
            <li><a href="#/forums/">Forums</a></li>
            <li><a href="#/faq/">FAQ</a></li>
        </ul>

        <h4>Help</h4>

        <ul>
            <li><a href="#http://feedback.moneyball.com/knowledgebase/">Support</a></li>
        </ul>

    </div>
    <div class="span3">

        <h4>Browse courses</h4>

        <ul>
            <li>
                <a href="#/courses/english/languages/">
                    Languages
                </a>
            </li>
            <li>
                <a href="#/courses/english/arts-literature/">
                    Arts &amp; Literature
                </a>
            </li>
            <li>
                <a href="#/courses/english/maths-science/">
                    Maths &amp; Science
                </a>
            </li>
            <li>
                <a href="#/courses/english/the-natural-world/">
                    The Natural World
                </a>
            </li>
            <li>
                <a href="#/courses/english/history-geography/">
                    History &amp; Geography
                </a>
            </li>
            <li>
                <a href="#/courses/english/professional-and-careers/">
                    Professional &amp; Careers
                </a>
            </li>
            <li>
                <a href="#/courses/english/entertainment/">
                    Entertainment
                </a>
            </li>
            <li>
                <a href="#/courses/english/trivia/">
                    Trivia
                </a>
            </li>
        </ul>

    </div>
</div>

        </div>
    </div>
</body>
</html>