<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="footer">


	      	<div class="hq-container hq-row footer-main">
	      		<div style="display:none;"><script src="https://v1.cnzz.com/z_stat.php?id=1000374757&amp;web_id=1000374757" language="JavaScript"></script><script src="https://c.cnzz.com/core.php?web_id=1000374757&amp;t=z" charset="utf-8" type="text/javascript"></script><a href="#http://www.cnzz.com/stat/website.php?web_id=1000374757" target="_blank" title="站长统计">站长统计</a></div>
				<div class="ele" style="width:700px;">
				  <p class="about">
				  		<a href="#/guide/newcomer.html" rel="nofollow"> 新手入门</a>
					    <a href="#/about/us.html" rel="nofollow"> 关于MoneyBall</a>
					    <a href="#/about/contact.html" rel="nofollow"> 联系方式</a>
					    <a href="#/about/jobs.html" rel="nofollow"> 加入我们</a>
					    <a href="#/about/fee.html" rel="nofollow"> 费用说明</a>
					    <a href="#/about/disclaimer.html" rel="nofollow"> 免责声明</a>
					    <a href="#/about/privacy.html" rel="nofollow"> 隐私声明</a>
				  </p>
				  <p style="margin: 20px 0 10px 0; color: #999999;font-size:12px;">
				    @ 2013-2014
				    <a href="#http://www.huoqiu.cn" style="margin-left:10px;color:#888;">MoneyBall</a>
				    <a href="#http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank" style="margin-left:10px;color:#888;">沪ICP备14013924号-1</a>

				  </p>
				</div>
				<div class="ele" style="display:none;">
			  		<script type="text/javascript"> $(function(){ HQ.init();}); </script>
				</div>
				<div class="ele float-right client-help">
			  		<p> 客服热线 9:00&nbsp;−−&nbsp;18:00 </p>
			  		<p style="font-size:18px;"> 15901845510 </p>
			  		<p> 客服邮箱 moneyball@126.cn</p>
				</div>
			</div>
	</div>
</body>
</html>