<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav class="left-nav">
            <ul>
                <li class="active">
                    <a href="/list">账务总览<span class="tail"></span></a>
                </li>
                <li>
                    <a href="/calendar">日历显示<span class="tail"></span></a>
                </li>
                 <li>
                    <a href="/record">我要记账<span class="tail"></span></a>
                </li>
                <li>
                    <a href="/other">其他内容<span class="tail"></span></a>
                </li>
                 <li>
                    <a href="/other">其他内容<span class="tail"></span></a>
                </li>
                 <li>
                    <a href="/other">其他内容<span class="tail"></span></a>
                </li>
                 <li>
                    <a href="/other">其他内容<span class="tail"></span></a>
                </li>
            </ul>
        </nav>
</body>
</html>