<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="##">MoneyBall投资理财</a>
        </div>
        <div class="navbar-collapse collapse">
             <div class="mb-nav-btn">


                <a href="../login"><button type="button" class="btn btn-sm btn-primary mb-nav-btn-login">登陆</button></a>

                <a href="login"><button type="button" class="btn btn-sm btn-success mb-nav-btn-reg">注册</button></a>
          </div>
        </div><!--/.nav-collapse -->


      </div>
    </div>
</body>
</html>